[submodule "Eren/3rdPartyLibs/spdlog"]
	path = Eren/3rdPartyLibs/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Eren/3rdPartyLibs/glfw"]
	path = Eren/3rdPartyLibs/glfw
	url = https://github.com/TheCherno/glfw
